@font-face {
  font-family: 'MaisonNeueBold';
  src: url('./MaisonNeue-Bold.woff') format('woff'), /* Super Modern Browsers */
       url('./MaisonNeue-Bold.woff2') format('woff2'), /* Modern Browsers */
}

@font-face {
  font-family: 'MaisonNeueMedium';
  src: url('./MaisonNeue-Medium.woff2') format('woff2'),
      url('./MaisonNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'MaisonNeueBold', sans-serif;
  height: 100vh;
}


